<div class="new-group-email-domain-change">
  <% if !@needs_location %>
  <ul class="list-group">
    <li class="list-group-item">
      <%= form_for(:add_group_email_domain, url: add_group_email_domain_change_path(@info.group.name)) do |f| %>
      <div><%= f.label :add_domain, "Add an Email Address Domain" %></div>
      <div><%= f.text_field :domain, placeholder: "Email Domain", class: "form-control" %></div>
      <div><%= f.submit "Propose", class: "btn btn-primary" %></div>
      <% end %>
    </li>

    <% options = @info.group.email_domain_input_options %>
    <% if options.any? %>
      <li class="list-group-item">
        <%= form_for(:rem_group_email_domain, url: rem_group_email_domain_change_path(@info.group.name)) do |f| %>
        <div><%= f.label :remove_domain, "Remove an Email Address Domain" %></div>
        <div><%= f.select(:domain_id, options_for_select(options), class: "form-control") %></div>
        <div><%= f.submit "Propose", class: "btn btn-primary" %></div>
        <% end %>
      </li>

      <li class="list-group-item">
        <%= form_for(:rem_all_group_email_domains, url: rem_all_group_email_domains_change_path(@info.group.name)) do |f| %>
        <div><%= f.label :remove_domain, "Remove all Email Address Domains" %></div>
        <div><%= f.submit "Propose", class: "btn btn-primary" %></div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% else %>
    <p>We are computing your location...</p>
  <% end %>
</div>
