<div class="row">
  <div class="col-md-8 col-xs-12">
    <%= form_for @user.user_notification, url: update_settings_notifications_path, method: :patch do |f| %>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.check_box :vote_begins_active %></td>
          <td>Voting begins in a group you're active in.</td>
        </tr>
        <tr>
          <td><%= f.check_box :vote_ends_active %></td>
          <td>Voting ends in a group you're active in.</td>
        </tr>
        <tr>
          <td><%= f.check_box :vote_begins_following %></td>
          <td>Voting begins in a group you're following.</td>
        </tr>
        <tr>
          <td><%= f.check_box :vote_ends_following %></td>
          <td>Voting ends in a group you're following.</td>
        </tr>
        <tr>
          <td><%= f.check_box :about_to_timeout %></td>
          <td>Your membership in a group is nearing expiration.</td>
        </tr>
        <tr>
          <td><%= f.check_box :timed_out %></td>
          <td>Your membership in a group expires.</td>
        </tr>
        <tr>
          <td><%= f.check_box :my_statement_dies %></td>
          <td>A statement you submitted dies due to not enough support.</td>
        </tr>
        <tr>
          <td><%= f.check_box :when_invited %></td>
          <td>You are invited to join a group.</td>
        </tr>
      </tbody>
    </table>
    <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
