<p>Dear future WeSpeak user,</p>

<p>
  You have been invited to join <%= render 'group_name', group: @group, period: true %>
</p>

<p>
  <%= render 'group_thumb', group: @group %>
</p>

<p>
  <%= render 'group_summary', group: @group %>
</p>

<p>
  <%= link_to "Click here", new_user_url %> to sign up for WeSpeak if you do not have an account.  The invitation will be there waiting.
</p>

<p>
  <%= link_to "Click here", settings_email_identities_url %> to add this email address to an existing WeSpeak account.
</p>

<%= render 'mailer_footer' %>
