<div class="settings-group">
  <h4>Create a Group</h4>
  <%= form_for(:group, url: create_group_path) do |f| %>
  <%= f.label :name, "Group Name (no spaces, max #{Constants::Lengths::GROUP_NAME_MAX} characters, will not change)" %>
  <%= f.text_field :name, placeholder: "Group Name", maxlength: Constants::Lengths::GROUP_NAME_MAX, class: "form-control" %>

  <% if !Rails.env.test? %>
  <div class="captcha">
    <%= recaptcha_tags %>
  </div>
  <% end %>


  <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>
