<%= form_for(:group, url: update_group_path(@group.id), method: :patch) do |f| %>
<ul class="list-group rules">
  <li class="list-group-item">
    <p>
      <span class="header">Statement Lifespan</span>
    </p>
    <%= f.select(:lifespan_rule, options_for_select(Constants::Timespans::INPUT_OPTIONS, @group.lifespan_rule), class: "form-control") %>
  </li>
  <li class="list-group-item">
    <p>
      <span class="header">Support Needed</span>
    </p>
    
    <output name="support_needed" for="group_support_needed_rule"><%= @group.support_needed_rule %>%</output>
    <%= f.range_field :support_needed_rule,
        value: @group.support_needed_rule,
        min: Constants::Needed::SUPPORT_MIN,
        max: Constants::Needed::SUPPORT_MAX,
        oninput: "support_needed.value=group_support_needed_rule.value + '%'" %>
    
  </li>
  <li class="list-group-item">
    <p>
      <span class="header">Vote Lifespan</span>
    </p>

    <%= f.select(:votespan_rule, options_for_select(Constants::Timespans::INPUT_OPTIONS, @group.votespan_rule), class: "form-control") %>
  </li>
  <li class="list-group-item">
    <p>
      <span class="header">Votes Needed</span>
    </p>
    
    <output name="votes_needed" for="group_votes_needed_rule"><%= @group.votes_needed_rule %>%</output>
    <%= f.range_field :votes_needed_rule,
        value: @group.votes_needed_rule,
        min: Constants::Needed::VOTES_MIN,
        max: Constants::Needed::VOTES_MAX,
        oninput: "votes_needed.value=group_votes_needed_rule.value + '%'" %>
    
  </li>
  <li class="list-group-item">
    <p>
      <span class="header">Yeses Needed</span>
    </p>
    
    <output name="yeses_needed" for="group_yeses_needed_rule"><%= @group.yeses_needed_rule %>%</output>
    <%= f.range_field :yeses_needed_rule,
        value: @group.yeses_needed_rule,
        min: Constants::Needed::YESES_MIN,
        max: Constants::Needed::YESES_MAX,
        oninput: "yeses_needed.value=group_yeses_needed_rule.value + '%'" %>
    
  </li>
  <li class="list-group-item">
    <p>
      <span class="header">Member Inactivity Timeout</span>
    </p>

    <%= f.select(:inactivity_timeout_rule, options_for_select(Constants::Timespans::INPUT_OPTIONS, @group.inactivity_timeout_rule), class: "form-control") %>
  </li>
</ul>

<%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
