<ul class="list-group rules">
  <li class="list-group-item">
    <p>
      <span class="header"><%= RuleTypes.display_name(:lifespan) %></span>
    </p>
    <p>
      <%= RuleTypes.description(:lifespan) %>
    </p>
    <%= Constants::Timespans::in_words(group.lifespan_rule) %>
    <% if change_links %>
      <div class="change-link"><%= link_to "Propose change", new_rule_path(@info.group.name) %></div>
    <% end %>
  </li>
  <li class="list-group-item">
    <p>
      <span class="header"><%= RuleTypes.display_name(:support_needed) %></span>
    </p>
    <p>
      <%= RuleTypes.description(:support_needed) %>
    </p>
    <%= group.support_needed_rule %>%
    <% if change_links %>
      <div class="change-link"><%= link_to "Propose change", new_rule_path(@info.group.name) %></div>
    <% end %>
  </li>
  <li class="list-group-item">
    <p>
      <span class="header"><%= RuleTypes.display_name(:votespan) %></span>
    </p>
    <p>
      <%= RuleTypes.description(:votespan) %>
    </p>
    <%= Constants::Timespans::in_words(group.votespan_rule) %>
    <% if change_links %>
      <div class="change-link"><%= link_to "Propose change", new_rule_path(@info.group.name) %></div>
    <% end %>
  </li>
  <li class="list-group-item">
    <p>
      <span class="header"><%= RuleTypes.display_name(:votes_needed) %></span>
    </p>
    <p>
      <%= RuleTypes.description(:votes_needed) %>
    </p>
    <%= group.votes_needed_rule %>%
    <% if change_links %>
      <div class="change-link"><%= link_to "Propose change", new_rule_path(@info.group.name) %></div>
    <% end %>
  </li>
  <li class="list-group-item">
    <p>
      <span class="header"><%= RuleTypes.display_name(:yeses_needed) %></span>
    </p>
    <p>
      <%= RuleTypes.description(:yeses_needed) %>
    </p>
    <%= group.yeses_needed_rule %>%
    <% if change_links %>
      <div class="change-link"><%= link_to "Propose change", new_rule_path(@info.group.name) %></div>
    <% end %>
  </li>
  <li class="list-group-item">
    <p>
      <span class="header"><%= RuleTypes.display_name(:inactivity_timeout) %></span>
    </p>
    <p>
      <%= RuleTypes.description(:inactivity_timeout) %>
    </p>
    <%= Constants::Timespans::in_words(group.inactivity_timeout_rule) %>
    <% if change_links %>
      <div class="change-link"><%= link_to "Propose change", new_rule_path(@info.group.name) %></div>
    <% end %>
  </li>
</ul>
