<% provide(:title, @group.name + " Configuration") %>
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-12">
    <h3>Settings for <%= @group.name %></h3>
    <p><%= link_to "Back to my groups", groups_path %></p>

    <p>
      When you are happy with all the settings, click "Ready to
      Create" to create the group.  After the group is created, only
      the group will be able to change these settings.
    </p>
    <div class="settings-group">
      <h4>Email Address Restrictions Settings</h4>
      <p>
        Restrict users based on email addresses?  Leaving this empty
        makes no restrictions.  Otherwise, users will not be
        restricted if they have an email address that matches one of
        the domains.  Remember, anything you set here can be changed
        later by the group.
      </p>
      <%= render 'group_email_domains/index', allow_deletes: true %>
      <%= render 'group_email_domains/new' %>
    </div>

    <div class="settings-group">
      <h4>Rules Settings</h4>
      <p>
        Set up the initial rules for the group.  Remember, anything
        you set here can be changed later by the group.
      </p>
      <%= render 'groups/rules_edit' %>
    </div>
    
    <div class="settings-group">
      <h4>Facebook Restrictions Settings</h4>
      <p>
        Restrict users based on whether they have a Facebook account?
        Remember, anything you set here can be changed later by the
        group.
      </p>
      <%= render 'groups/facebook_edit' %>
    </div>

    <div class="settings-group">
      <h4>Invitation Settings</h4>
      <p>
        Should participation be by invitation only?  Remember,
        anything you set here can be changed later by the group.
      </p>
      <%= render 'groups/invitations_edit' %>
    </div>

    <div class="settings-group">
      <h4>Location Restrictions Settings</h4>
      <p>
        Restrict users based on location?  Leaving this empty makes no
        restrictions.  Otherwise, users will not be restricted if they
        are inside one of the regions.  Remember, anything you set
        here can be changed later by the group.
      </p>
      <%= render 'groups/locations' %>
    </div>

    <div class="ready-to-activate">
      <%= form_for(:ready_to_activate, url: ready_to_activate_group_path(@group.id), method: :get) do |f| %>
      <%= f.submit "Ready to Create", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
