<% provide(:title, @group.name + " Create") %>
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-12">
    <h3>Review settings for <%= @group.name %></h3>
    <p><%= link_to "Back to #{@group.name} configuration", edit_group_path(@group.id) %></p>
    <p><%= link_to "Back to create a group", groups_path %></p>

    <p>
      Please review these settings.  To make changes, go back to the
      configuration page.  When you are happy, click the "Create"
      button.  This action cannot be undone.
    </p>

    <div class="settings-group">
      <h4>Email Address Restrictions</h4>
      <%= render 'group_email_domains/index', group: @group, allow_deletes: false, change_link: false %>
    </div>

    <div class="settings-group">
      <h4>Rules</h4>
      <%= render 'groups/rules_show', group: @group, change_links: false %>
    </div>

    <div class="settings-group">
      <h4>Facebook Restrictions</h4>
      <%= render 'groups/facebook_edit' %>
    </div>

    <div class="settings-group">
      <h4>Invitations</h4>
      <%= render 'groups/invitations_show', group: @group, change_link: false %>
    </div>
    
    <div class="settings-group">
      <h4>Location Restrictions</h4>
      <%= render 'groups/locations_edit' %>
    </div>

    <div class="ready-to-activate">
      <%= form_for(:activate, url: activate_group_path(@group.id)) do |f| %>
      <%= f.submit "Create", class: "btn btn-primary", data: { confirm: "Are you sure? This can't be undone." } %>
      <% end %>
    </div>
  </div>
</div>
