<div class="signup">
  <%= form_for(:user, url: create_user_path) do |f| %>

  <%= f.label :name, "User Name" %>
  <%= f.text_field :name, placeholder: "User Name", class: "form-control" %>
  
  <%= f.label :email, "Email Address" %>
  <%= f.email_field :email, placeholder: "Email Address", class: "form-control" %>
  
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
  
  <%= f.label :password_confirmation, "Re-enter Password" %>
  <%= f.password_field :password_confirmation, placeholder: "Re-enter Password", class: "form-control" %>
  
  <%= f.submit "Sign up", class: "btn btn-primary" %>
  <% end %>
</div>
