
<p align="center">
  Don't know about WeSpeak?
  Check out our <%= link_to "FAQ", faq_path %>.
</p>

<div class="signup">
  <%= form_for(:user, url: create_user_path) do |f| %>

  <%= f.label :name, "Username (other users will see this)" %>
  <%= f.text_field :name, placeholder: "Username", class: "form-control" %>
  
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Password", class: "form-control" %>

  <% if !Rails.env.test? %>
  <div class="captcha">
    <%= recaptcha_tags %>
  </div>
  <% end %>
  
  <%= f.submit "Sign up", class: "btn btn-primary" %>
  <% end %>
</div>
