<% provide(:title, "Email Address Activation") %>

<h2>Email Address Activation</h2>

<%= form_for(:activation, url: email_address_activation_path, method: "patch") do |f| %>

<%= hidden_field_tag :activation_token, @activation_token %>

<%= hidden_field_tag :email, @email %>

<%= f.label :password %>
<%= f.password_field :password, placeholder: "Password", class: "form-control" %>

<%= f.submit "Activate", class: "btn btn-primary" %>

<% end %>
