<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Active Since</th>
      <th>Primary</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @user.email_addresses.each do |email_address| %>
    <% is_primary = email_address.id == @user.primary_email_address_id %>
      <tr>
        <td><%= email_address.email %></td>
        <td>
          <% if email_address.activated? %>
            <%= email_address.activated_at %>
          <% else %>
            Not Activated
          <% end %>
        </td>
        <td>
          <% if is_primary %>
            <span class="glyphicon glyphicon-ok"></span>
          <% else %>
            <%= link_to "Make Primary", edit_settings_email_identity_path(id: email_address.id) %>
          <% end %>
        </td>
        <td>
          <% if !is_primary %>
            <% warning = "Are you sure you want to delete " + email_address.email + "?" %>
            <%= link_to settings_email_identity_path(id: email_address.id), method: :delete, data: { confirm: warning } do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for(:new_identity, url: settings_email_identities_path) do |f| %>

<%= f.label :email, "Add an Email Address" %>
<%= hidden_field_tag :user_id, @user.id %>
<%= f.text_field :email, placeholder: "Email Address", class: "form-control" %>

<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
