<%= tinymce_assets %>

<div class="new-update">
  <ul class="list-group">
    <li class="list-group-item">
      <%= form_for :update, url: create_update_path(@info.group.name), method: :post do |f| %>

      <h4>Status Update</h4>

      <% if !@needs_location %>
        <div class="rich-text">
          <%= f.text_area :update, class: "tinymce" %>
        </div>
        <%= f.submit "Propose", class:"btn btn-primary" %>
      <% else %>
        <p>We are computing your location...</p>
      <% end %>

      <% end %>
    </li>
  </ul>
</div>

<%= tinymce content_css: asset_path("application.css") %>
