<% provide(:title, @info.group.name) %>

<% if @statement.state == StatementStates[:alive] || @statement.state == StatementStates[:voting] %>
  <%= render 'group_pages/location_required' %>
<% end %>

<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-12">
    <% if @feed %>
    <p>
      <%= link_to "Back to your feed", root_path %>
    </p>
    <% end %>
    <p>
      <%= link_to "Back to #{@info.group.name}", group_profile_path(@info.group.name) %>
    </p>
    <%= render 'group_pages/statement_body', statement: @statement, group: @info.group, logged_in: logged_in? %>
    <ul id="comments-list" class="list-group">
      <li class="list-group-item new-comment">
        <%= render 'new_comment', statement: @statement %>
      </li>
      <%= render 'show_comments' %>
    </ul>
    <div id="infinite-scrolling">
      <%= will_paginate @comments %>
    </div>
  </div>
</div>
