<% provide(:title, @info.group.name) %>
<div class="row">
  <div class="col-md-3 col-xs-12">
    <%= render 'group_pages/left_header' %>
  </div>
  <div class="col-md-9 col-xs-12">
    <p><%= link_to "Back to #{@info.group.name}", group_profile_path(@info.group.name) %>
    <% statement = @statement_pointer[:content].statement %>
    <div class="statement-header">
      <%= render('group_pages/statement_stats', section: :header, statement: statement) %>
    </div>
    <div class="statement">
      <%= render 'group_pages/statement_pointer', statement_pointer: @statement_pointer %>
    </div>
    <div class="statement-footer">
      <%= render('group_pages/statement_stats', section: :footer, statement: statement) %>
    </div>
  </div>
</div>
