<table class="table">
  <tr>
    <td>
      <%= StatementTypes.name(statement.statement_type) %> by
    </td>
    <td>
      <span class="value"><%= statement.user.name %></span>
    </td>
  </tr>
  <tr>
    <td>
      Created
    </td>
    <td>
      <span class="value"><%= time_ago_in_words(statement.created_at) %> ago</span>
    </td>
  </tr>
  <tr>
    <td>
      Expires
    </td>
    <td>
      <span class="value"><%= Constants::Timespans::full_time(statement.alive_until) %></span>
    </td>
  </tr>
  <tr>
    <td>
      Needs support
    </td>
    <td>
      <span class="value"><%= statement.support_needed %>
    </td>
  </tr>
  <tr>
    <td>
      Has support
    </td>
    <td>
      <span id="support-count" class="value"><%= statement.supports.count %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <% if @info.active_member && @info.active_member.can_support?(statement) %>
        <div id="support-button">
          <% if statement.user_supports?(@info.user) %>
            <%= render 'group_pages/unsupport_button', statement: statement %>
          <% else %>
            <%= render 'group_pages/support_button', statement: statement %>
          <% end %>
        </div>
      <% else %>
        Not eligible to support
      <% end %>
    </td>
  </tr>
</table>
