<table class="table">
  <tr>
    <td>
      <%= StatementTypes.name(statement.statement_type) %> by
    </td>
    <td>
      <span class="value"><%= statement.user.name %></span>
    </td>
  </tr>
  <tr>
    <td>
      Created
    </td>
    <td>
      <span class="value"><%= time_ago_in_words(statement.created_at) %> ago</span>
    </td>
  </tr>
  <tr>
    <td>
      Expires
    </td>
    <td>
      <span class="value"><%= Constants::Timespans::full_time(statement.expires_at) %></span>
    </td>
  </tr>
  <tr>
    <td>
      Eligible supporters
    </td>
    <td>
      <span class="value"><%= statement.eligible_supporters %>
    </td>
  </tr>
  <tr>
    <td>
      Needs support
    </td>
    <td>
      <span class="value"><%= statement.support_needed %>
    </td>
  </tr>
  <tr>
    <td>
      Has support
    </td>
    <td>
      <span id="support-count-<%= statement.id %>" class="value"><%= statement.supports.count %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <% if @info.support_eligible?(statement) %>
        <div id="support-button-<%= statement.id %>">
          <% if statement.user_supports?(@info.user) %>
            <%= render 'group_pages/unsupport_button', statement: statement %>
          <% else %>
            <%= render 'group_pages/support_button', statement: statement %>
          <% end %>
        </div>
      <% else %>
        Not eligible to support
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= link_to "Direct link", proposal_path(@info.group.name, statement.id) %>
    </td>
  </tr>
</table>
