<table>
  <tr>
    <td>
      <span class="statement-type"><%= StatementTypes.name(statement.statement_type) %></span>
      by <span class="username"><%= statement.user.name %></span>
    </td>
  </tr>
  <tr>
    <td>
      Created <%= time_ago_in_words(statement.created_at) %> ago
    </td>
  </tr>
  <tr>
    <td>
      Expires on <%= Constants::Timespans::full_time(statement.alive_until) %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "Direct link", proposal_path(@info.group.name, statement.id) %>
    </td>
  </tr>
</table>
