<ul align="center">
  <li><%= StatementTypes.name(statement.statement_type) %></li>
  <li>
    <%= number_with_delimiter(statement.supports.count, delimiter: ",") %>/<%= number_with_delimiter(statement.support_needed, delimiter: ",") %> from <%= number_with_delimiter(statement.eligible_supporters, delimiter: ",") %> active
  </li>
  <li>Expired on <%= Constants::Timespans::full_time(statement.expires_at) %></li>
  <li><%= link_to "Direct Link", statement_path(@info.group.name, statement.id) %></li>
</ul>
