<div class="statement-group-link">
  <%= link_to group_profile_path(statement.group.name) do %>
    <%= statement.group.name %>
    <% if statement.group.profile_image.url %>
      <div>
        <%= image_tag(statement.group.profile_image.thumb.url) %>
      </div>
    <% end %>
  <% end %>
  <div class="byline">
    by
    <%= link_to show_user_path(statement.user.name) do %>
      <span class="username"><%= statement.user.name %></span>
    <% end %>
  </div>
</div>
