<% groups.each do |group| %>
<li class="list-group-item">
  <div class="row">
    <div class="col-xs-3">
      <% if group.profile_image.url %>
        <%= link_to group_profile_path(group.name) do %>
          <%= image_tag(group.profile_image.thumb.url) if group.profile_image.url %>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-5">
      <div class="group-name">
        <%= link_to group.name, group_profile_path(group.name) %>
      </div>
      <div>
        <%= number_with_delimiter(group.membership_count, delimiter: ",") %> <%= 'member'.pluralize(group.membership_count) %>,
        <%= number_with_delimiter(group.active_members.count, delimiter: ",") %> active
      </div>
      <div>
        <%= number_with_delimiter(group.followers.count, delimiter: ",") %> <%= 'follower'.pluralize(group.followers.count) %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="group-name">
        Statements
      </div>
      <div>
        <%= link_to profile_path(group.name, :voting) do %>
          <%= number_with_delimiter(group.get_count(:voting), delimiter: ",") %> voting
        <% end %>
      </div>
      <div>
        <%= link_to profile_path(group.name, :alive) do %>
          <%= number_with_delimiter(group.get_count(:alive), delimiter: ",") %> alive
        <% end %>
      </div>
    </div>
  </div>
</li>
<% end %>
