<div class="left-header">
  <%= render 'group_pages/summary_stats' %>
  <%= render 'group_pages/member_status' %>
  <%= render 'group_pages/active_status' %>
  <%= render 'group_pages/can_i_participate' %>
  <%= render 'group_pages/email_restrictions' %>
  <%= render 'group_pages/invitations' %>
  <%= render 'group_pages/rules' %>
</div>
