<div class="left-header">
  <%= render 'group_pages/show_name' %>
  <%= render 'group_pages/summary_stats' %>
  <%= render 'group_pages/group_tabs' %>
  <%= render 'group_pages/active_status' %>
  <%= render 'group_pages/can_i_participate' %>
</div>
