<ul class="nav nav-tabs page-tabs" role="tablist">
  <li class="<%= active_tab == :profile ? 'active' : 'inactive' %>">
    <%= link_to "Profile", group_profile_path(@info.group.name) %>
  </li>
  <li class="<%= active_tab == :participation ? 'active' : 'inactive' %>">
    <%= link_to "Participation", group_participation_path(@info.group.name) %>
  </li>
  <li class="<%= active_tab == :rules ? 'active' : 'inactive' %>">
    <%= link_to "Rules", group_rules_path(@info.group.name) %>
  </li>
</ul>
