<div class="profile-header">
  <div class="row">
    <div class="col-xs-6">
      <div class="profile-image">
        <%= render 'group_pages/profile_photo' %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="group-name">
        <%= @info.group.name %>
      </div>
      <div class="tagline">
        <%= render 'group_pages/tagline' %>
      </div>
      <div class="membership">
        <%= number_with_delimiter(@info.group.membership_count, delimiter: ",") %> <%= 'member'.pluralize(@info.group.membership_count) %>,
        <%= @info.group.active_members.count %> active
      </div>
      <div class="following" id="following">
        <%= render 'group_pages/following' %>
      </div>
      <% if @info.change_eligible? %>
      <p>
        <%= link_to "Propose an update", new_update_path(@info.group.name) %>
      </p>
      <% end %>
    </div>
  </div>
</div>
