<div class="profile-header">
  <div class="row">
    <div class="col-xs-6">
      <div class="profile-image">
        <%= render 'group_pages/profile_photo' %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="group-display-name">
        <% if @info.group.display_name %>
          <%= @info.group.display_name %>
        <% else %>
          No Name
        <% end %>
      </div>
      <% if @info.change_eligible? %>
        <div class="change-link"><%= link_to "Propose change", new_display_name_path(@info.group.name) %></div>
      <% end %>
      <div class="group-name">
        @<%= @info.group.name %>
      </div>
      <div class="tagline">
        <%= render 'group_pages/tagline' %>
      </div>
      <div class="membership">
        <%= number_with_delimiter(@info.group.membership_count, delimiter: ",") %> <%= 'member'.pluralize(@info.group.membership_count) %>,
        <%= @info.group.active_members.count %> active
      </div>
      <div class="following" id="following">
        <%= render 'group_pages/following' %>
      </div>
      <% if @info.change_eligible? %>
      <p>
        <%= link_to "Propose an update", new_update_path(@info.group.name) %>
      </p>
      <% end %>
    </div>
  </div>
  <% if logged_in? %>
  <div class="participation-summary">
    <ul class="list-group">
      <li class="list-group-item">
        <p>
          <% if @info.change_eligible? %>
            <span class="glyphicon glyphicon-ok"></span>
            You may participate!
          <% else %>
            <span class="glyphicon glyphicon-remove"></span>
            You may not participate.
            <%= link_to "Why not?", group_participation_path(@info.group.name) %>
          <% end %>
        </p>
          <% if @info.member_history %>
          <table>
            <tr>
              <% if @info.active_member %>
                <td>
                  <span class="glyphicon glyphicon-ok"></span>
                  Your membership is active and will expire
                  <%= Constants::Timespans::time_ago(@info.active_member.expires_at, present: true) %>.
                </td>
                <% if @info.change_eligible? %>
                  <td>
                    <%= button_to "Extend Membership", activate_membership_path(@info.group.name), class: "btn btn-success" %>
                  </td>
                <% end %>
              <% else %>
                <td>
                  <span class="glyphicon glyphicon-remove"></span>
                  Your membership is not active.
                </td>
                <% if @info.change_eligible? %>
                  <td>
                    <%= button_to "Re-activate!", activate_membership_path(@info.group.name), class: "btn btn-success" %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          </table>
          <% else %>
          <table>
            <tr>
              <td>
                <span class="glyphicon glyphicon-remove"></span>
                You are not a member.
              </td>
              <% if @info.change_eligible? %>
                <td>
                  <%= button_to "Join!", activate_membership_path(@info.group.name), class: "btn btn-success" %>
                </td>
              <% end %>
            </tr>
          </table>
        <% end %>
      </li>
    </ul>
  </div>
  <% end %>
</div>
