<div class="profile-header">
  <table>
    <col width="33%">
    <col width="67%">
    <tr>
      <td class="left-side">
        <%= render 'group_pages/profile_photo' %>
      </td>
      <td class="right-side">
        <div class="group-name">
          <%= @info.group.name %>
        </div>
        <div class="tagline">
          <%= render 'group_pages/tagline' %>
        </div>
        <div class="membership">
          <%= @info.group.membership_count %> member<%= @info.group.membership_count != 1 ? "s" : "" %>,
          <%= @info.group.active_members.count %> active
        </div>
      </td>
    </tr>
  </table>
</div>
