<table class="table">
  <tr>
    <td>
      <%= StatementTypes.name(statement.statement_type) %> by
    </td>
    <td>
      <span class="value"><%= statement.user.name %></span>
    </td>
  </tr>
  <tr>
    <td>
      Created
    </td>
    <td>
      <span class="value"><%= time_ago_in_words(statement.created_at) %> ago</span>
    </td>
  </tr>
  <tr>
    <td>
      Vote began
    </td>
    <td>
      <span class="value"><%= Constants::Timespans::full_time(statement.vote_began_at) %></span>
    </td>
  </tr>
  <tr>
    <td>
      Vote ended
    </td>
    <td>
      <span class="value"><%= Constants::Timespans::full_time(statement.vote_ended_at) %></span>
    </td>
  </tr>
  <tr>
    <td>
      Eligible voters
    </td>
    <td>
      <span class="value"><%= statement.eligible_voters %>
    </td>
  </tr>
  <tr>
    <td>
      Needed votes
    </td>
    <td>
      <span class="value"><%= statement.votes_needed %>
    </td>
  </tr>
  <tr>
    <td>
      Had votes
    </td>
    <td>
      <span id="vote-count-<%= statement.id %>" class="value"><%= statement.votes.count %>
    </td>
  </tr>
  <tr>
    <td>
      Needed yeses
    </td>
    <td>
      <span class="value"><%= statement.yeses_needed %>%
    </td>
  </tr>
  <tr>
    <td>
      Had yeses
    </td>
    <td>
      <span id="yeses-count-<%= statement.id %>" class="value">
        <%= statement.votes.count == 0 ? 0 : 100 * statement.yeses_count / statement.votes.count %>%
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= link_to "Direct link", proposal_path(@info.group.name, statement.id) %>
    </td>
  </tr>
</table>
