<ul>
  <% if statement.state == StatementStates[:alive] %>
    <% active_member = group ? @info.active_member : current_user.active_members.find_by(group_id: statement.group.id) %>
    <% if GroupUserInfo.support_eligible?(current_user, active_member, statement) %>
      <% if !statement.user_supports?(current_user) %>
  <li id="support-button-<%= statement.id %>" class="support-button">
    <%= render 'group_pages/support_button', statement: statement %>
  </li>
      <% end %>
    <% else %>
  <li class="your-support">
      <% if logged_in? %>
        Not eligible to support
      <span class="why-not">
        <%= link_to "Why not?", why_not_support_eligible_path(statement.group.name, statement.id) %>
      </span>
      <% else %>
        Log in to support this statement
      <% end %>
  </li>
    <% end %>
  <% elsif statement.state == StatementStates[:voting] %>
    <% active_member = group ? @info.active_member : current_user.active_members.find_by(group_id: statement.group.id) %>
    <% if GroupUserInfo.vote_eligible?(current_user, active_member, statement) %>
      <% if !statement.user_vote(current_user) %>
  <li id="vote-buttons-<%= statement.id %>">
    <%= render 'group_pages/vote_buttons', statement: statement %>
  </li>
      <% end %>
    <% else %>
  <li class="your-vote">
      <% if logged_in? %>
        Not eligible to vote
      <span class="why-not">
        <%= link_to "Why not?", why_not_vote_eligible_path(statement.group.name, statement.id) %>
      </span>
      <% else %>
        Log in to vote for this statement
      <% end %>
  </li>
    <% end %>
  <% end %>

  <% if logged_in? %>
  <li id="your-support-<%= statement.id %>" class="your-support">
    <%= render 'group_pages/you_supported' if statement.user_supports? current_user%>
  </li>
  <% vote = statement.user_vote(current_user) %>
  <li class="your-vote" id="your-vote-<%= statement.id %>">
    <%= render('group_pages/your_vote', vote: vote) if vote %>
  </li>
  <% end %>
  
  <% if statement.state == StatementStates[:voting] || statement.state == StatementStates[:accepted] || statement.state == StatementStates[:rejected] %>
  <li class="eligible-voters">
    <%= number_with_delimiter(statement.eligible_voters, delimiter: ",") %>
    eligible <%= 'voter'.pluralize(statement.eligible_voters) %>
  </li>
  <li class="votes-needed">
    <%= number_with_delimiter(statement.votes_needed, delimiter: ",") %>
    total <%= 'vote'.pluralize(statement.votes_needed) %> needed
  </li>
  <li class="votes-cast">
    <%= number_with_delimiter(statement.votes.count, delimiter: ",") %>
    <%= 'vote'.pluralize(statement.votes.count) %> cast
  </li>
  <li class="yeses-needed">
    <%= statement.yeses_needed %>%
    must be YES
  </li>
  <li class="yeses-cast">
    <%= statement.yeses_percent %>%
    are YES
  </li>
  <% elsif statement.state == StatementStates[:alive] || statement.state == StatementStates[:dead] %>
  <li class="eligible-supporters">
    <%= number_with_delimiter(statement.eligible_supporters, delimiter: ",") %>
    eligible <%= 'supporter'.pluralize(statement.eligible_supporters) %>
  </li>
  <li class="support-needed">
    <%= number_with_delimiter(statement.support_needed, delimiter: ",") %>
    Total <%= 'supporter'.pluralize(statement.support_needed) %> needed
  </li>
  <li class="support-given">
    <%= number_with_delimiter(statement.supports.count, delimiter: ",") %>
    <%= 'supporter'.pluralize(statement.supports.count) %>
  </li>
  <% end %>
</ul>
