<div class="group-tabs">
  <ul class="nav nav-tabs">
    <%= render 'group_pages/profile_header' %>

    <%= render 'group_pages/group_tabs' %>

    <%= content_tag(
        :li,
        link_to("All (#{@info.group.get_count(@info.state)})",
        profile_path(@info.group.name, @info.state)),
        class: active_tab == :all ? "active" : "inactive") %>

    <%= content_tag(
        :li,
        link_to("Taglines (#{@info.group.get_count(@info.state, :tagline)})",
        taglines_path(@info.group.name, @info.state)),
        class: active_tab == :taglines ? "active" : "inactive") %>
    
    <%= content_tag(
        :li,
        link_to("Updates (#{@info.group.get_count(@info.state, :update)})",
        updates_path(@info.group.name, @info.state)),
        class: active_tab == :updates  ? "active" : "inactive") %>

    <%= content_tag(
        :li,
        link_to("Rules (#{@info.group.get_count(@info.state, :rule)})",
        rules_path(@info.group.name, @info.state)),
        class: active_tab == :rules  ? "active" : "inactive") %>

    <%= content_tag(
        :li,
        link_to("Invitations (#{@info.group.get_count(@info.state, :invitation)})",
        invitations_path(@info.group.name, @info.state)),
        class: active_tab == :invitations  ? "active" : "inactive") %>
  </ul>
</div>
