<ul id="statement-<%= statement.id %>" class="list-group">
  <li class="statement-item list-group-item">
    <div class="statement-header">
      <%= render('group_pages/statement_header', statement: statement) %>
    </div>
    <div class="statement">
      <div class="row">
        <div class="col-xs-3">
          <%= render 'group_pages/group_thumb', statement: statement %>
        </div>
        
        <div class="col-xs-9">
          <%= render 'group_pages/statement_pointer', statement: statement %>
          
          <% if statement.type != :initial_statement %>
          <div class="statement-stats">
            <%= render('group_pages/statement_stats', statement: statement, group: group, info: info) %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="statement-footer">
      <%= render('group_pages/statement_footer', statement: statement, group: group) %>
    </div>
  </li>
</ul>
