<%= render 'group_pages/profile_header' %>

<div class="group-tabs">
  <ul class="nav nav-pills">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href='#'>
        <%= active_tab == :all ? "All" : StatementTypes.name_from_sym(active_tab.to_s.singularize.to_sym).pluralize %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= content_tag(
              :li,
              link_to("All",
              profile_path(@info.group.name, @info.state)),
              class: active_tab == :all ? "active" : "inactive") %>
        </li>
        
        <% [:taglines, :updates, :rules, :invitations, :group_email_domain_changes, :profile_images, :locations].each do |type_p| %>
        <% type_s = type_p.to_s.singularize.to_sym %>
        <li>
          <%= content_tag(
              :li,
              link_to("#{StatementTypes.name_from_sym(type_s).pluralize}",
              send("#{type_p}_path", @info.group.name, @info.state)),
              class: active_tab == type_p ? "active" : "inactive") %>
        </li>
        <% end %>
      </ul>
    </li>

    <% [:accepted, :rejected, :voting, :alive, :dead].each do |state| %>
    <% count = @info.group.get_count(state, active_tab == :all ? nil : active_tab.to_s.singularize.to_sym) %>
    <%= content_tag(:li,
        link_to("#{state.to_s.capitalize}",
        active_tab == :all ? profile_path(@info.group.name, state) : send("#{active_tab}_path", @info.group.name, state)),
        class: @info.state == state ? "active" : "inactive") %>
    <% end %>

  </ul>
</div>
