<ul>
  <% if statement.state == StatementStates[:alive] %>
    <% if logged_in %>
      <% active_member = current_user.active_members.find_by(group_id: statement.group.id) %>
      <% if GroupUserInfo.support_eligible?(current_user, active_member, statement) %>
        <% if !statement.user_supports?(current_user) %>
  <li class="support-button">
    <%= button_to("Support!", support_path(statement.group.name),
        params: { statement_id: statement.id },
        class: "btn btn-primary",
        remote: true) if !statement.user_supports?(current_user)  %>
  </li>
        <% end %>
      <% else %>
  <li class="your-support">
        Not eligible to support
      <span class="why-not">
        <%= link_to "Why not?", why_not_support_eligible_path(statement.group.name, statement.id) %>
      </span>
      <% end %>
    <% else %>
      Log in to support this statement
  </li>
    <% end %>
  <% elsif statement.state == StatementStates[:voting] %>
    <% if logged_in %>
      <% active_member = current_user.active_members.find_by(group_id: statement.group.id) %>
      <% if GroupUserInfo.vote_eligible?(current_user, active_member, statement) %>
        <% if !statement.user_vote(current_user) %>
  <li>
    <%= render 'group_pages/vote_buttons', statement: statement %>
  </li>
        <% end %>
      <% else %>
  <li class="your-vote">
        Not eligible to vote
      <span class="why-not">
        <%= link_to "Why not?", why_not_vote_eligible_path(statement.group.name, statement.id) %>
      </span>
      <% end %>
    <% else %>
      Log in to vote for this statement
  </li>
    <% end %>
  <% end %>

  <% if logged_in %>
  <li class="your-support">
    <%= render 'group_pages/you_supported' if statement.user_supports? current_user%>
  </li>
  <% vote = statement.user_vote(current_user) %>
  <li class="your-vote">
    <%= render('group_pages/your_vote', vote: vote) if vote %>
  </li>
  <% end %>
  
  <% if statement.state == StatementStates[:voting] || statement.state == StatementStates[:accepted] || statement.state == StatementStates[:rejected] %>
  <li class="eligible-voters">
    <%= number_with_delimiter(statement.eligible_voters, delimiter: ",") %>
    eligible <%= 'voter'.pluralize(statement.eligible_voters) %>
  </li>
  <li class="votes-cast">
    <%= number_with_delimiter(statement.votes.count, delimiter: ",") %>
    <%= 'vote'.pluralize(statement.votes.count) %> cast
    <% if statement.votes.count < statement.votes_needed %>
      (<%= number_with_delimiter(statement.votes_needed - statement.votes.count, delimiter: ",") %> auto-NO)
    <% end %>
  </li>
  <li class="yeses-cast">
    <%= statement.yeses_percent %>%
    are YES
    (needs <%= statement.yeses_needed %>%)
  </li>
  <% elsif statement.state == StatementStates[:alive] || statement.state == StatementStates[:dead] %>
  <li class="eligible-supporters">
    <%= number_with_delimiter(statement.eligible_supporters, delimiter: ",") %>
    eligible <%= 'supporter'.pluralize(statement.eligible_supporters) %>
    (<%= number_with_delimiter(statement.support_needed, delimiter: ",") %> needed)
  </li>
  <li class="support-given">
    <%= number_with_delimiter(statement.supports.count, delimiter: ",") %>
    <%= 'supporter'.pluralize(statement.supports.count) %>
  </li>
  <li class="voting-will-begin">
    <%= render 'group_pages/voting_will_begin', statement: statement %>
  </li>
  <% end %>
</ul>
