<%= render 'group_pages/profile_header' %>

<div class="group-tabs">
  <ul class="nav nav-pills">

    <%= content_tag(
        :li,
        link_to("Profile", group_profile_path(@info.group.name)),
        class: @info.state == :accepted ? "active" : "inactive") %>

    <% new_vote_count = @info.group.num_voting_statements - @info.group.num_voted_statements(@info.user) %>

    <%= content_tag(
        :li,
        link_to(new_vote_count == 0 ? "Voting" : "Voting (#{new_vote_count})", profile_path(@info.group.name, :voting)),
        class: @info.state == :voting ? "active" : "inactive") %>

    <%= content_tag(
        :li,
        link_to("Alive", profile_path(@info.group.name, :alive)),
        class: @info.state == :alive ? "active" : "inactive") %>

    <% dropdown_active = @info.state == :rejected || @info.state == :dead %>
    <li class="dropdown <%= dropdown_active ? "active" : "inactive" %>">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= @info.state == :rejected ? "Rejected" : @info.state == :dead ? "Dead" : "More" %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <%= content_tag(:li, link_to("Rejected", profile_path(@info.group.name, :rejected))) if @info.state != :rejected %>
        <%= content_tag(:li, link_to("Dead",     profile_path(@info.group.name, :dead)))     if @info.state != :dead     %>
      </ul>
    </li>
  </ul>
</div>
