<ul>
  <% if info %>
    <% my_info = !group ? info[statement.group.id] : info.user ? info : nil %>
  <% else %>
    <% my_info = nil %>
  <% end %>
    
  <% if statement.state == StatementStates[:alive] %>
    <% if my_info %>
      <% if my_info.change_eligible? && my_info.support_eligible?(statement) %>
        <% if !statement.user_supports?(my_info.user) %>
  <li class="support-button">
    <%= button_to("Support!", support_path(statement.group.name),
        params: { statement_id: statement.id },
        class: "btn btn-primary",
        remote: true) if !statement.user_supports?(my_info.user)  %>
  </li>
        <% end %>
      <% else %>
  <li class="your-support">
        <% if my_info.group.radius && !my_info.user.get_location %>
          We are computing your location...
        <% else %>
          Not eligible to support
      <span class="why-not">
        <%= link_to "Why not?", why_not_support_eligible_path(statement.group.name, statement.id) %>
      </span>
        <% end %>
      <% end %>
    <% else %>
      Log in to support this statement
  </li>
    <% end %>
  <% elsif statement.state == StatementStates[:voting] %>
    <% if my_info %>
      <% if my_info.change_eligible? && my_info.vote_eligible?(statement) %>
        <% if !statement.user_vote(my_info.user) %>
  <li>
<% if !statement.user_vote(my_info.user) %>
<table class="vote-buttons">
  <tr>
    <td>
      <%= button_to "No.", vote_no_path(statement.group.name),
          params: { statement_id: statement.id },
          class: "btn btn-danger",
          data: { confirm: "Are you sure? You cannot change your vote later." },
          remote: true %>
    </td>
    
    <td>
      <%= button_to "Yes!", vote_yes_path(statement.group.name),
          params: { statement_id: statement.id },
          class: "btn btn-success",
          data: { confirm: "Are you sure?  You cannot change your vote later." },
          remote: true %>
    </td>
  </tr>
</table>
<% end %>
  </li>
        <% end %>
      <% else %>
  <li class="your-vote">
        <% if my_info.group.radius && !my_info.user.get_location %>
          We are computing your location...
        <% else %>
          Not eligible to vote
      <span class="why-not">
        <%= link_to "Why not?", why_not_vote_eligible_path(statement.group.name, statement.id) %>
      </span>
        <% end %>
      <% end %>
    <% else %>
      Log in to vote for this statement
  </li>
    <% end %>
  <% end %>

  <% if my_info %>
  <% if statement.user_supports? my_info.user %>
  <li class="your-support">
    You supported
  </li>
  <% end %>
  <% vote = statement.user_vote(my_info.user) %>
  <% if vote %>
  <li class="your-vote">
    You voted
    <% if vote.vote == Constants::Votes::NO %>
    <span class="no">NO</span>
    <% else %>
    <span class="yes">YES</span>
    <% end %>
  </li>
  <% end %>
  <% end %>
  
  <% if statement.state == StatementStates[:voting] || statement.state == StatementStates[:accepted] || statement.state == StatementStates[:rejected] %>
  <li class="eligible-voters">
    <%= number_with_delimiter(statement.eligible_voters, delimiter: ",") %>
    eligible <%= 'voter'.pluralize(statement.eligible_voters) %>
  </li>
  <li class="votes-cast">
    <%= number_with_delimiter(statement.votes.count, delimiter: ",") %>
    <%= 'vote'.pluralize(statement.votes.count) %> cast
    <% if statement.votes.count < statement.votes_needed %>
      (<%= number_with_delimiter(statement.votes_needed - statement.votes.count, delimiter: ",") %> auto-NO)
    <% end %>
  </li>
  <li class="yeses-cast">
    <%= statement.yeses_percent %>%
    are YES
    (needs <%= statement.yeses_needed %>%)
  </li>
  <% elsif statement.state == StatementStates[:alive] || statement.state == StatementStates[:dead] %>
  <li class="eligible-supporters">
    <%= number_with_delimiter(statement.eligible_supporters, delimiter: ",") %>
    eligible <%= 'supporter'.pluralize(statement.eligible_supporters) %>
    (<%= number_with_delimiter(statement.support_needed, delimiter: ",") %> needed)
  </li>
  <li class="support-given">
    <%= number_with_delimiter(statement.supports.count, delimiter: ",") %>
    <%= 'supporter'.pluralize(statement.supports.count) %>
  </li>
  <li class="voting-will-begin">
    <% if statement.supports.count >= statement.support_needed %>
    Voting will begin shortly!
    <% end %>
  </li>
  <% end %>
</ul>
