<div class="group-tabs">
  <ul class="nav nav-pills">
    <%= content_tag(
        :li,
        link_to(StatementStates.name(:accepted), accepted_path),
        class: state == :accepted ? "active" : "inactive") %>

    <% if group %>
      <% new_vote_count = current_user ? group.num_voting_statements - group.num_voted_statements(current_user) : 0 %>
    <% else %>
      <% new_vote_count = Statement.num_voting_statements(@group_ids) - Vote.num_voted_statements(@group_ids, current_user) %>
    <% end %>

    <% voting_name = "Voting" + (new_vote_count == 0 ? "" : " (#{new_vote_count})") %>
    <%= content_tag(
        :li,
        link_to(voting_name, voting_path),
        class: state == :voting ? "active" : "inactive") %>

    <%= content_tag(
        :li,
        link_to("Alive", alive_path),
        class: state == :alive ? "active" : "inactive") %>

    <% dropdown_active = state == :rejected || state == :dead %>
    <li class="dropdown <%= dropdown_active ? "active" : "inactive" %>">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= state == :rejected ? "Rejected" : state == :dead ? "Dead" : "More" %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <%= content_tag(:li, link_to("Rejected", rejected_path)) if state != :rejected %>
        <%= content_tag(:li, link_to("Dead",     dead_path))     if state != :dead     %>
      </ul>
    </li>
  </ul>
</div>

<p>
  <div class="page-desc">
    <%= StatementStates.desc(state) %>
  </div>
  <% if group %>
    <div class="statement-counts">
      <% count = group.get_count(state) %>
      <%= "#{count} #{'statement'.pluralize(count)}" %>
    </div>
  <% end %>
</p>
