<ul align="center">
  <li><%= StatementTypes.name(statement.statement_type) %></li>
  <li>
    <span id="vote-count-<%= statement.id %>"><%= number_with_delimiter(statement.votes.count, delimiter: ",") %></span>/<%= number_with_delimiter(statement.votes_needed, delimiter: ",") %> from <%= number_with_delimiter(statement.eligible_voters, delimiter: ",") %> active
  </li>
  <li><span id="yeses-percent-<%= statement.id %>"><%= statement.yeses_percent %>%</span>/<%= statement.yeses_needed %>%</li>
  <li>Vote ends <%= statement.vote_ends_at < Time.zone.now ? "shortly" : "in #{time_ago_in_words(statement.vote_ends_at)}" %></li>
  <li><%= link_to "Direct Link", statement_path(statement.group.name, statement.id, feed: group.nil?) %></li>
</ul>
