<% provide(:title, @info.group.name) %>
<div class="row">
  <div class="col-md-3 col-xs-12">
    <%= render 'group_pages/left_header' %>
  </div>
  <div class="col-md-9 col-xs-12">
    <p>
      <%= link_to "Back to #{@info.group.name}", group_profile_path(@info.group.name) %>
    </p>
    <h4>Preview</h4>
    <div class="statement">
      <%= render "#{@statement_tab}/show", statement: @statement.get_content %>
    </div>
    <div class="confirm-buttons">
      <%= button_to "Confirm!", confirm_proposal_path(@info.group.name),
          params: { id: @statement.id },
          class: "btn btn-primary" %>

      <%= button_to "Discard", discard_proposal_path(@info.group.name),
          params: { id: @statement.id },
          class: "btn btn-primary" %>
    </div>
  </div>
</div>
