<% @my_groups.each do |group| %>
<tr>
  <td>
    <div class="left-side">
      <%= link_to group.name, group_profile_path(group.name) %>
    </div>
  </td>
  <td>
    <div class="right-side">
      <div>
        <%= group.membership_count %> member<%= group.membership_count != 1 ? "s" : "" %>, <%= group.active_members.count %> active
      </div>
      <div>
        <%= group.followers.count %> follower<%= group.followers.count != 1 ? "s" : "" %>
      </div>
      <div>
        Member for <%= time_ago_in_words(group.member_since(current_user)) %>, active for <%= time_ago_in_words(group.active_since(current_user)) %>.
      </div>
    </div>
  </td>
</tr>
<% end %>
