<% provide(:title, @group.name + " Configuration") %>
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-12">
    <h3>Settings for <%= @group.name %></h3>
    <p><%= link_to "Back to My Groups", my_groups_path %></p>
    <%= render 'my_groups/rules' %>
    <%= render 'group_email_domains/index' %>
    <%= render 'my_groups/facebook' %>
    <%= render 'my_groups/invitations' %>
    <%= render 'my_groups/locations' %>
  </div>
</div>
