<% provide(:title, @group.name + " Configuration") %>
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-12">
    <%= form_for :my_group, url: edit_my_group_path(@group.id) do |f| %>
    <table class="table table-hover table-striped">
      <thead>
        <th>Rule</th>
        <th>Value</th>
      </thead>
      <tbody>
        <tr>
          <td><%= f.label :lifespan_rule, "Statement Lifespan" %></td>
          <td><%= f.select(:lifespan_rule, options_for_select(Constants::TIMESPAN_INPUT_OPTIONS, @group.lifespan_rule), class: "form-control") %></td>
        </tr>
        <tr>
          <td><%= f.label :support_needed_rule, "Support Needed (%)" %></td>
          <td><%= f.text_field :support_needed_rule, value: @group.support_needed_rule / 100.0, class: "form-control" %>
        </tr>
        <tr>
          <td><%= f.label :votespan_rule, "Vote Lifespan" %></td>
          <td><%= f.select(:votespan_rule, options_for_select(Constants::TIMESPAN_INPUT_OPTIONS, @group.votespan_rule), class: "form-control") %></td>
        </tr>
        <tr>
          <td><%= f.label :yeses_needed_rule, "Votes Needed (%)" %></td>
          <td><%= f.text_field :votes_needed_rule, value: @group.votes_needed_rule / 100.0, class: "form-control" %>
        </tr>
        <tr>
          <td><%= f.label :yeses_needed_rule, "Yeses Needed (%)" %></td>
          <td><%= f.text_field :yeses_needed_rule, value: @group.yeses_needed_rule / 100.0, class: "form-control" %>
        </tr>
      </tbody>
    </table>

    <%= f.submit "Activate Group", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
