<% if statement.rule_type == RuleTypes[:lifespan] %>
  <p class="rule">Change lifespan to <%= Constants::Timespans::in_words(statement.rule_value) %>.</p>
  <% if @info.state == :alive || @info.state == :voting %>
    <p class="current-rule">The current lifespan is <%= Constants::Timespans::in_words(@info.group.lifespan_rule) %>.</p>
  <% end %>
<% end %>
<% if statement.rule_type == RuleTypes[:support_needed] %>
  <p class="rule">Change support needed to <%= statement.rule_value %>%.</p>
  <% if @info.state == :alive || @info.state == :voting %>
    <p class="current-rule">The current support needed is <%= @info.group.support_needed_rule %>%.</p>
  <% end %>
<% end %>
<% if statement.rule_type == RuleTypes[:votespan] %>
  <p class="rule">Change votespan to <%= Constants::Timespans::in_words(statement.rule_value) %>.</p>
  <% if @info.state == :alive || @info.state == :voting %>
    <p class="current-rule">The current votespan is <%= Constants::Timespans::in_words(@info.group.votespan_rule) %>.</p>
  <% end %>
<% end %>
<% if statement.rule_type == RuleTypes[:votes_needed] %>
  <p class="rule">Change votes needed to <%= statement.rule_value %>%.</p>
  <% if @info.state == :alive || @info.state == :voting %>
    <p class="current-rule">The current votes needed is <%= @info.group.votes_needed_rule %>%.</p>
  <% end %>
<% end %>
<% if statement.rule_type == RuleTypes[:yeses_needed] %>
  <p class="rule">Change yeses needed to <%= statement.rule_value %>%.</p>
  <% if @info.state == :alive || @info.state == :voting %>
    <p class="current-rule">The current yeses needed is <%= @info.group.yeses_needed_rule %>%.</p>
  <% end %>
<% end %>
<% if statement.rule_type == RuleTypes[:inactivity_timeout] %>
  <p class="rule">Change member inactivity timeout to <%= Constants::Timespans::in_words(statement.rule_value) %>.</p>
  <% if @info.state == :alive || @info.state == :voting %>
    <p class="current-rule">The current member inactivity timeout is <%= Constants::Timespans::in_words(@info.group.inactivity_timeout_rule) %>.</p>
  <% end %>
<% end %>
