<% state = statement.statement.state %>
<% if statement.rule_type == RuleTypes[:lifespan] %>
  <p class="rule">Change <%= RuleTypes.display_name(:lifespan).downcase %> to <%= Constants::Timespans::in_words(statement.rule_value) %>.</p>
  <% if state == StatementStates[:alive] || state == StatementStates[:voting] %>
    <p class="current-rule">The current lifespan is <%= Constants::Timespans::in_words(statement.group.lifespan_rule) %>.</p>
  <% end %>
<% end %>
<% if statement.rule_type == RuleTypes[:support_needed] %>
  <p class="rule">Change <%= RuleTypes.display_name(:support_needed).downcase %> to <%= statement.rule_value %>%.</p>
  <% if state == StatementStates[:alive] || state == StatementStates[:voting] %>
    <p class="current-rule">The current support needed is <%= statement.group.support_needed_rule %>%.</p>
  <% end %>
<% end %>
<% if statement.rule_type == RuleTypes[:votespan] %>
  <p class="rule">Change <%= RuleTypes.display_name(:votespan).downcase %> to <%= Constants::Timespans::in_words(statement.rule_value) %>.</p>
  <% if state == StatementStates[:alive] || state == StatementStates[:voting] %>
    <p class="current-rule">The current votespan is <%= Constants::Timespans::in_words(statement.group.votespan_rule) %>.</p>
  <% end %>
<% end %>
<% if statement.rule_type == RuleTypes[:votes_needed] %>
  <p class="rule">Change <%= RuleTypes.display_name(:votes_needed).downcase %> to <%= statement.rule_value %>%.</p>
  <% if state == StatementStates[:alive] || state == StatementStates[:voting] %>
    <p class="current-rule">The current votes needed is <%= statement.group.votes_needed_rule %>%.</p>
  <% end %>
<% end %>
<% if statement.rule_type == RuleTypes[:yeses_needed] %>
  <p class="rule">Change <%= RuleTypes.display_name(:yeses_needed).downcase %> to <%= statement.rule_value %>%.</p>
  <% if state == StatementStates[:alive] || state == StatementStates[:voting] %>
    <p class="current-rule">The current yeses needed is <%= statement.group.yeses_needed_rule %>%.</p>
  <% end %>
<% end %>
<% if statement.rule_type == RuleTypes[:inactivity_timeout] %>
  <p class="rule">Change <%= RuleTypes.display_name(:inactivity_timeout).downcase %> to <%= Constants::Timespans::in_words(statement.rule_value) %>.</p>
  <% if state == StatementStates[:alive] || state == StatementStates[:voting] %>
    <p class="current-rule">The current member inactivity timeout is <%= Constants::Timespans::in_words(statement.group.inactivity_timeout_rule) %>.</p>
  <% end %>
<% end %>
