<li>
  <%= link_to "Following", following_path %>
</li>
<li>
  <%= link_to "My Groups", my_groups_path %>
</li>
<li>
  <% if current_user.new_invitations.any? %>
    <%= link_to "Invitations (#{current_user.new_invitations.count})", invites_path %>
  <% else %>
    <%= link_to "Invitations", invites_path %>
  <% end %>
</li>
<li>
  <% if current_user.can_create_groups %>
    <%= link_to "Create a Group", groups_path %>
  <% end %>
</li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href='#'><%= current_user.name %><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Settings", show_settings_path %></li>
    <li role="presentation" class="divider"></li>
    <li><%= link_to "Logout", destroy_session_path, method: :delete %></li>
  </ul>
</li>

<%= content_tag :div, current_user.location_valid_until,
    id: "user-location-valid-until",
    hidden: true %>

<%= content_tag :div, Constants::Timespans::USER_LOCATION_VALID,
    id: "user-location-valid-for",
    hidden: true %>

<%= content_tag :div, "false",
    id: "user-location-timer-set",
    hidden: true %>

<%= content_tag :div, create_user_location_path,
    id: "create-user-location-path",
    hidden: true %>

</div>
