<div class="new-location">
  <ul class="list-group">
    <li class="list-group-item">
      <%= form_for(:location, url: create_locations_path(@info.group.name)) do |f| %>
      <%= render 'groups/locations_fields', f: f, radius: 1, button_text: "Propose" %>
      <% end %>
    </li>

    <% if @info.group.radius %>
      <li class="list-group-item">
        <%= form_for(:rem_location, url: rem_locations_path(@info.group.name)) do |f| %>
        <div><%= f.label :remove_location, "Remove Location Restriction" %></div>
        <div><%= f.submit "Propose", class: "btn btn-primary" %></div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
