<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <%= render 'layouts/header' %>
      
      <div class="container">
        <div class="row">
          <div class="col-md-offset-4 col-md-4 col-xs-12">
            <% if !flash.empty? %>
              <div class="flash-section">
                <% flash.keys.each do |message_type| %>
                  <% flash[message_type].each do |message| %>
                    <div class="alert alert-<%= message_type %>"><%= message %></div>
                  <% end %>
                <% end %>
              </div>
            <% end %>

          </div>
        </div>
        <%= yield %>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      </div>

  </body>
</html>
